.feynman__title {
  position: relative;
  margin: auto;
  width: 648px;
  line-height: var(--line-height-second);
  font-size: 120px;
  font-weight: var(--font-weight-bold);
  margin-bottom: 70px;
  z-index: 2;
}
