.columns__link {
  line-height: 30px;
  font-size: var(--font-size-second);
  font-weight: var(--font-weight-normal);
  color: var(--main-color);
  text-decoration: none;
}

.columns__link:hover {
  cursor: pointer;
}
