@import url(__image/kaufman__image.css);

.kaufman {
  position: relative;
  text-align: center;
  background-color: var(--dark-main);
  color: var(--main-color);
  padding: 90px 0;
  overflow: hidden;
}
