.two-columns__paragraph {
  margin: 0;
  line-height: var(--line-height-main);
  font-size: var(--font-size-main);
  font-weight: var(--font-weight-normal);
}

.two-columns__paragraph:not(:last-child) {
  margin-bottom: 30px;
}
