.form__text {
  width: 100%;
  height: 40px;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  line-height: var(--line-height-main);
  font-size: var(--font-size-second);
  font-weight: var(--font-weight-normal);
}
