.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: var(--font-size-second);
  font-weight: var(--font-weight-normal);
  z-index: 2;
}
